@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #152259;
  --color-secondary: #509cdb;
  --color-tertiary: #b9d7f1;
}

html {
  font-family: "Kumbh Sans", sans-serif;
}

input:focus-visible {
  outline-color: #6a7282;
}

button {
  cursor: pointer;
}
